In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [16]:
salary_dropped = df.dropna(subset='salary_year_avg')
print('Rows before cleaning:', len(df))
print('Rows after cleaning:', len(salary_dropped))

Rows before cleaning: 785741
Rows after cleaning: 22003

In [24]:
#Remove duplicate rows from the DataFrame based on the job_location column. Display the number of rows before and after removing duplicates.

locations_deduped = df.drop_duplicates(subset=['job_location'])
print('Before dropping duplicates:', len(df))
print('After dropping duplicates:', len(locations_deduped))

Before dropping duplicates: 785741
After dropping duplicates: 17218

In [31]:
#Fill missing values in the salary_rate column with the string 'Unknown'. Display the first 10 rows of the salary_rate column before and after filling.

filled = df['salary_rate'].fillna('Unknown')
df['salary_rate'].head(10), filled.head(10)

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)