In [2]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.add('AI Specialist')
unique_job_titles

{'AI Specialist',
 'Data Analyst',
 'Data Scientist',
 'Machine Learning Engineer'}

In [4]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.remove('Data Analyst')
unique_job_titles

{'Data Scientist', 'Machine Learning Engineer'}

In [6]:
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
job_locations = set(job_locations)
job_locations

{'Austin', 'New York', 'San Francisco'}

In [8]:
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
skills_set1.union(skills_set2)
skills_set1

{'Python', 'SQL', 'Tableau'}

In [10]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
print(job_roles[1])

Data Analyst

In [25]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles = job_roles + ('AI Specialist',)
print(job_roles)

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Specialist')

In [28]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles = list(job_roles)
job_roles.remove('Data Analyst')
job_roles = tuple(job_roles)
job_roles

('Data Scientist', 'Machine Learning Engineer')

In [31]:
job_postings = (120, 80, 50)
data_scientist_postings = job_postings[0]
data_analyst_postings = job_postings[1]
ml_engineer_postings = job_postings[2]
print(data_scientist_postings, data_analyst_postings, ml_engineer_postings)

120 80 50

In [33]:
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
ml_job_postings = job_details[2][1]
print(ml_job_postings)

50

In [35]:
job_locations = ['New York', 'San Francisco', 'Austin']
'New York' in job_locations

True

In [39]:
job_title = 'Data Analyst'
job_description = 'Data Scientist at Tech Corp'
job_title not in job_description

True

In [41]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
'Data Scientist' and 'Machine Learning Engineer' in job_titles

True

In [43]:
salary1 = 100000
salary2 = 50000

salary1 | salary2

116720

In [45]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for title in job_titles:
    print(title)

Data Scientist
Data Analyst
Machine Learning Engineer

In [47]:
job_postings = [5, 10, 15, 20, 25]
i = 0
posts = 0
while i < len(job_postings):
    posts += job_postings[i]
    i += 1
print(posts)

75

In [51]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for job in enumerate(job_titles):
    print(job)

(0, 'Data Scientist')
(1, 'Data Analyst')
(2, 'Machine Learning Engineer')

In [53]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
search = ''
i = 0
while search == '':
    if 'Engineer' in job_titles[i]:
        search = job_titles[i]
    i += 1
print(search)

Machine Learning Engineer

In [85]:
# Print a message for each individual skill required for these data science positions (e.g., "The role of Data Scientist requires proficiency in Python").
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

for key, value in positions_skills.items():
    for value in value:
        print('The Role of', key, 'Requires Proficiency in', value)

The Role of Data Scientist Requires Proficiency in Python
The Role of Data Scientist Requires Proficiency in R
The Role of Data Analyst Requires Proficiency in SQL
The Role of Data Analyst Requires Proficiency in Excel
The Role of Machine Learning Engineer Requires Proficiency in Python
The Role of Machine Learning Engineer Requires Proficiency in TensorFlow

In [88]:
salaries_usd = [100000, 120000, 80000, 90000]
salaries_eur = [salary * 0.85 for salary in salaries_usd]
print(salaries_eur)

[85000.0, 102000.0, 68000.0, 76500.0]

In [93]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
skilled_jobs = [job for job, exp in job_experience.items() if exp > 2]
print(skilled_jobs)

['Data Scientist', 'Machine Learning Specialist']

In [143]:
# Create a list comprehension that extracts job titles with salaries greater than 90,000 from a given list of dictionaries containing job titles and salaries.
job_salary_dicts = [{'job_title': 'Data Scientist','salary': 100000},
                    {'job_title': 'Data Analyst', 'salary': 120000},
                    {'job_title': 'Data Engineer', 'salary': 80000}, 
                    {'job_title': 'Machine Learning Engineer', 'salary': 90000}]

high_paying_jobs = [dicts['job_title'] for dicts in job_salary_dicts if dicts['salary'] > 90000]
print(high_paying_jobs)

['Data Scientist', 'Data Analyst']