In [3]:
monthly_salary = 8000
annual_salary = monthly_salary * 12
print(annual_salary)

96000

False

In [5]:
avg_salary_analyst = 70000
avg_salary_scientist = 85000
avg_salary_analyst > avg_salary_scientist

False

In [7]:
total_applications = 123
job_openings = 67
total_applications % job_openings

56

In [10]:
job_postings = 20
job_postings +=5
job_postings

25

In [12]:
min_salary = 50000
max_salary = 120000
average_salary = (min_salary + max_salary) / 2
average_salary

85000.0

In [15]:
python_experience = 3
if python_experience >= 2:
    print('Intermediate')
else:
    print('Beginner')

Intermediate

In [17]:
tools_known = 3
if tools_known >= 4:
    print('Advanced')
elif tools_known >=2:
    print('Intermediate')
else:
    print('Beginner')

Intermediate

In [19]:
job_experience = 4
sql_experience = 2

if job_experience > 5 and sql_experience >= 3:
    print('Lead Analyst')
elif job_experience > 5:
    print('Data Analyst')
elif job_experience >= 2 and sql_experience >= 2:
    print('Senior Analyst')
elif job_experience >= 2 and sql_experience >= 1:
    print('Intermediate Analyst')
else:
    print('Junior Analyst')

Senior Analyst

In [21]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[1]

'Data Analyst'

In [23]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles[2] = 'AI Specialist'
print(job_titles)

['Data Scientist', 'Data Analyst', 'AI Specialist']

In [25]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']
print(job_titles[:2])

['Data Scientist', 'Data Analyst']

In [27]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.append('Data Engineer')
print(job_titles)

['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Data Engineer']

In [29]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
job_titles.insert(1, 'Business Analyst')
print(job_titles)

['Data Scientist', 'Business Analyst', 'Data Analyst', 'Machine Learning Engineer']

In [40]:
job_postings = {
    'Data Scientist': 120,
    'Data Analyst': 80,
    'Machine Learning Engineer': 50
}

#print(job_postings.get('Data Analyst'))
print(job_postings['Data Analyst'])

80

In [42]:
job_postings = {
    'Data Scientist': 120,
    'Data Analyst': 80,
    'Machine Learning Engineer': 50
}
job_postings['AI Specialist'] = 30
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

In [46]:
job_postings = {
    'Data Scientist': 120,
    'Data Analyst': 80,
    'Machine Learning Engineer': 50
}

job_postings.pop('Machine Learning Engineer')
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80}