In [3]:
job_count = 42
print(job_count)

42

In [6]:
job_title = 'Data Engineer'
company_name = 'DataWorks'
remote = True

print(job_title, company_name, remote)

Data Engineer DataWorks True

In [8]:
base_salary = 120000
bonus = 20000
total_compensation = base_salary + bonus
print(total_compensation)

140000

In [11]:
monthly_salary = 72000 / 12
print(monthly_salary)

6000.0

In [14]:
job_title = 'Data Scientist'
company_name = 'AI Solutions'
salary = 110000
total_compensation = salary + (salary * 0.1)
print(job_title, company_name, total_compensation)

Data Scientist AI Solutions 121000.0

In [16]:
job_title = 'Data Scientist'
type(job_title)

str

In [18]:
salary = 85000.50
type(salary)

float

In [20]:
salary_rate = int(120000.75)
type(salary_rate)

int

In [23]:
company_name = 'DataWiz Inc.'
isinstance(company_name, str)

True

In [26]:
job_title = 'Data Scientist'
new_string = 'Job Title: ' + job_title
print(new_string)

Job Title: Data Scientist

In [30]:
position = 'Data Scientist'
company = 'DataWiz Inc.'
print(f'{position} at {company}')

Data Scientist at DataWiz Inc.

In [41]:
role = 'Data Analyst'
skill = 'Python'
print('Role: {}, Skill: {}'.format(role, skill))

Role: Data Analyst, Skill: Python

In [48]:
skill = 'SQL'
role = 'Data Engineer'
results = 'Role: %s, Skill: %s' % (role, skill)
print(results)

Role: Data Engineer, Skill: SQL