In [2]:
job_title = 'Data Scientist'
keyword = 'Data'

def job_title_contains(job_title, keyword):
    return keyword in job_title

job_title_contains(job_title, keyword)

True

In [4]:
salaries = [95000, 120000, 105000, 90000, 130000]

def average_salary(salaries):
    return sum(salaries) / len(salaries)

average_salary(salaries)

108000.0

In [8]:
salaries = [95000, 120000, 105000, 90000, 130000]

def salary_statistics(salaries):
    return {
        'minimum': min(salaries),
        'maximum': max(salaries),
        'average': sum(salaries) / len(salaries)
    }

salary_statistics(salaries)

{'minimum': 90000, 'maximum': 130000, 'average': 108000.0}

In [19]:
job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]

def job_posting_summary(job_postings):
    return {
        'total_postings': len(job_postings),
        'average_salary': int(sum(job['salary'] for job in job_postings) / len(job_postings)),
        'unique_locations': list(set(job['location'] for job in job_postings))
    }

job_posting_summary(job_postings)

{'total_postings': 3,
 'average_salary': 98333,
 'unique_locations': ['New York', 'San Francisco']}

In [22]:
salaries = [95000, 120000, 105000, 90000, 130000]

average_salary = lambda salaries: sum(salaries) / len(salaries)
average_salary(salaries)

108000.0

In [38]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']
contains_data = list(filter(lambda titles: 'Data' in titles, job_titles))
contains_data

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [48]:
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]

filter_postings = list(filter(lambda job: 'Python' in job['skills'] and job['remote'], job_postings))
filter_postings

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
 {'title': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow'],
  'remote': True}]